@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-family: Georgia, sans-serif;
	color:#4d4d4d;
}

#header-container {
	background-image: url("images/pattern.jpg");
	background-repeat: repeat;
	background-size:8%;
	height:100px;
	border-bottom-color: #cdcdcd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#header {
	margin: 0px auto;
	padding: 25px 0 0 0;
	width: 1024px;
	height:100px;
}

#branding {
	margin:0;
	padding:0;
	width: 55px; 
    height: 48px;
    display:inline;
}

#dreambox-logo {
    width: 55px; 
	height: 48px;
	background: url("images/logo.png");
	text-indent: -9999px;
	float:left;
}

#nav {
	margin:0px;
	padding:20px 0 0 0;
	float:right;
}

#nav ul{
	border: 0px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

#nav li{
	border: 0px;
	display: inline;
	margin: 0px;
	padding: 0px;
}

#nav li a{
	text-decoration:none;
	color:#4d4d4d;
}

#nav li a:hover{
	text-decoration:underline;
	color:#4d4d4d;
}

#content-container {
	margin: 0px auto;
	padding: 0px;
	width: 1024px;
}

#leader {
	padding:30px 0 30px 0;
}

h1.intro {
	width: 532px; 
	height: 121px;
	background: url("images/tagline.png");
	background-repeat:no-repeat;
	text-indent: -9999px;
	margin:0 auto;
}

#footer {
	padding: 30px 0 30px 0;
	margin:0 0 30px 0;
	height:50px;
}

#footer p{
	margin:0;
	padding:0;
	font-style: italic;
}

#footer-block-1 {
	float:left;
	width:300px;
	font-size:15px;
	margin:0 80px 0 0;
}



#footer-block-2 {
	margin:0;
	padding:0;
    display:inline;
}

#portfolio {
	width: 211px; 
	height: 72px;
	background: url("images/portfolio.png");
	background-repeat:no-repeat;
	text-indent: -9999px;
	float:left;
}


#footer-block-3 {
	padding-top:10px;
	float:right;
	font-size:14px;
}

#footer-block-3 a{
	text-decoration:none;
	color:#4d4d4d;
	font-size:14px;
}

.mug {
	float:left;
	margin-right:15px;
	padding-top:5px;
}




/* Gallery */

#gallery {
	padding-top:30px;
}

.thumbnail {
	float:left;
	margin-right:34px;
	margin-bottom:50px;
}

.thumbnail_end {
	float:left;
	margin-bottom:50px;
}



/* About */

h1.about{
	width: 446px; 
	height: 91px;
	background: url("images/about.png");
	background-repeat:no-repeat;
	text-indent: -9999px;
	margin:0 auto;
}

#about_leader {
	padding:30px 0 0 0;
}

#content_about{
	float:left;
	margin:25px 25px 0 0;
	padding:0 25px 0 0;
	width:750px;
	border-right-color: rgb(204,204,204);
	border-right-style: solid;
	border-right-width: 1px;
}


h1.hello {
	width: 103px; 
	height:34px;
	background: url("images/hello.png");
	background-repeat:no-repeat;
	text-indent: -9999px;
	margin:0 0 30px 0;
	padding: 0;	
}


#about_intro p {
	font-style:normal;
	font-size: 15px;
	line-height: 30px;
	margin:0;
}

#about_intro a:link {
	color:#4d4d4d;
	font-style:italic;
	text-decoration: none;
}

#about_intro a:hover {
	color:#4d4d4d;
	text-decoration: underline;
}

#about_intro a:visited {
	color:#4d4d4d;
	font-style:italic;	
	text-decoration: none;
}



#about_projects {
	float:left;
	margin:25px 0 0 0;
	width:220px;
}

h1.services {
	width: 195px; 
	height:37px;
	background: url("images/services.png");
	background-repeat:no-repeat;
	text-indent: -9999px;
	margin:0 0 15px 0;
	padding: 0;
	border-bottom-color: rgb(204,204,204);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
}


#about_projects ul{
	border: 0px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size:15px;
	line-height: 30px;
}

#about_projects li{
	margin:0 0 10px 0;
}

#about_projects p{
	font-style:italic;
	font-size: 14px;
	line-height: 18px;
	margin:23px 0 0 0; 
}

#about_projects a:link {
	color:#4d4d4d;
	font-style:italic;
	text-decoration: none;
	font-weight:bold;
}

#about_projects a:hover {
	color:#4d4d4d;
	font-weight:bold;
	text-decoration: underline;
}

#about_projects a:visited {
	color:#4d4d4d;
	font-style:italic;
	font-weight:bold;	
	text-decoration: none;
}

